<div id="action-toolbar" class="hidden">
    <div id="selected-info">0</div>
    <div class="action-buttons-group">
        <button id="action-copy" title="Copiar">📋</button>
        <button id="action-note" title="Nota">📝</button>
        <button id="action-fav" title="Favorito">⭐</button>
        <div class="color-grid">
            <div class="btn-color c1" data-color="#fcf6bd"></div>
            <div class="btn-color c2" data-color="#d0f4de"></div>
            <div class="btn-color c3" data-color="#ffadad"></div>
            <div class="btn-color c4" data-color="#a0c4ff"></div>
            <button class="btn-color-clear">🚫</button>
        </div>
        <button id="action-cancel" class="close-x">✕</button>
    </div>
</div>